<!-- templates/internal.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internal Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            text-align: left;
            padding: 20px;
        }

    </style>
</head>
<body>

    <div class="container">
        <h1>Welcome to the Internal System!</h1>    
        <p>
            Thank you for authenticating! You have successfully accessed the internal network layer.
            This page showcases additional content and functionality relevant to the prototype's objectives.
        </p>
    </div>
    <div class="container">
        <!-- Add additional content or functionality here -->
        <h2>What user can do on this page</h2>
        <ul>
            <!-- User Actions on the Internal Page -->
            <li><strong>Data Interaction:</strong> Dive into and interact with the internal data environment. Discover valuable insights and information specific to the internal network.</li>
            <li><strong>Functionality Showcase:</strong> Experience firsthand the unique features and functionalities designed for this prototype. Get a glimpse of what the system can offer.</li>
            <li><strong>Form Submission:</strong> Contribute to internal processes by submitting relevant data. Use the provided form to securely send information to enhance the functionality of the internal network.</li>
        </ul>    
    </div>
    <script>
        // JavaScript to redirect to the DMZ layer after 5 seconds
        setTimeout(function(){
            window.location.href = "/dmz";
        }, 5000);
    </script>

</body>
</html>
